services:
  mysql:
    image: mariadb:latest
    restart: always
    ports:
      - 3306:3306
    volumes:
      - "./.srv/database:/var/lib/mysql"
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${DB_DATABASE}"
      MYSQL_USER: "${DB_USER}"
      MYSQL_PASSWORD: "${DB_PASSWORD}"

  wordpress:
    image: wordpress:6.8.3-php8.3
    depends_on:
      - mysql
    restart: always
    environment:
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_USER: "${DB_USER}"
      WORDPRESS_DB_PASSWORD: "${DB_PASSWORD}"
      WORDPRESS_DB_NAME: "${DB_DATABASE}"
      WORDPRESS_DEBUG: 1
      WORDPRESS_CONFIG_EXTRA: |
        define( 'WP_AUTO_UPDATE_CORE', false );
        define( 'WP_DEBUG_LOG', true );
        define( 'WP_DEBUG_DISPLAY', false );
        define( 'ALTERNATE_WP_CRON', true );
    volumes:
      - ./.srv/wordpress/:/var/www/html
      - ./:/var/www/html/wp-content/plugins/wp-swift-pwa

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    depends_on:
      - mysql
    links:
      - mysql
    ports:
      - 8181:80
    environment:
      UPLOAD_LIMIT: 100M
      MYSQL_USERNAME: "${DB_USER}"
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
      PMA_HOST: mysql

  nginx:
    image: nginx:latest
    depends_on:
      - wordpress
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./certs/swift.pwa.dev+1.pem:/etc/nginx/ssl/swift.pwa.dev.pem
      - ./certs/swift.pwa.dev+1-key.pem:/etc/nginx/ssl/swift.pwa.dev-key.pem
    ports:
      - "443:443"
    restart: always
