@import 'primeicons/primeicons.css';
@import 'tailwindcss' prefix(tw);

@theme {
  --breakpoint-sm: 600px;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
