@import 'tailwindcss';

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

#wpcontent {
  padding-left: 0;
}

#wpbody-content {
  padding-bottom: 0;
}

#wpfooter {
  display: none;
}
